<ul>
<% @cake.comments.each do |comment| %>
  <% if comment.id %>
    <li>
    <%= comment.user.email %> says:
    <br />

    "<%= comment[:comment] %>"

    <% if can? :manage, comment %>
    <%= link_to 'Destroy', cake_comment_path(@cake, comment), method: :delete, data: {  confirm: 'Are you sure?' } %>
    <% end %>
    </li>
  <% end %>
<% end %>
</ul>
