<ul>
<% @cake.comments.each do |comment| %>
  <% if comment.id %>
    <li>
    <%= comment.user.email %> says:
    <br />

    "<%= comment[:comment] %>"

    <%= link_to 'Destroy', cake_comment_path(@cake, comment), method: :delete, data: {  confirm: 'Are you sure?' } %>

    </li>
  <% end %>
<% end %>
</ul>
