<h1>Andrea's Cakes</h1>

<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= render 'display_cakes' %>
  <%= link_to 'New Cake', new_cake_path, method: :get %>
<% else %>
  Sign in to add a new cake
<% end %>
