<h3>About Andrea</h3>

<p>
  Andrea began seriously baking cakes at the end of 2018. Moving
to an apartment by herself was transformative, and she found creative
outlet in decorating cakes. She has yet to find her signature style,
but it's a work in progress!
</p>
